################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/helloworld/.vs/helloworld/v17
/helloworld/x64/Debug/helloworld.tlog
/helloworld/x64/Debug
/helloworld/.vs/helloworld
/helloworld/.vs/Opengl
